@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background-color: black;
  margin-left: 2px;
  animation: blink 0.7s infinite;
}

body.has-announcement .fixed.sm\:top-8 {
  top: 50px;
}

@media (max-width: 640px) {
  body.has-announcement .fixed.top-0 {
    top: 45px;
  }
}
